.inner {
    position: relative;
}

.inner > .text__wrapper {
    padding: 0;
    margin: 0;
    top: 30%;
    right: 33%;

    position: absolute;
}
.header__text {
    left: 33%;
}

.logo {
    position: absolute;
    left: 5%;
    top: 25%;
    padding: 0;
    margin: 0;
}
.nav__btn > ul {
    display: none;
}

#menu-icon {
    display: initial;
    position: absolute;
    right: 5%;
    top: 25%;
    font-size: 40px;
    color: #fefefe;
}

.text {
    font-size: 30px;
}

.info {
    flex-direction: column;
    height: fit-content;
}

.des__title,
.description > a > i {
    font-size: 25px;
}
.des__comment,
.description > a {
    font-size: 18px;
}

.description > a {
    top: 60%;
}
