html, body{
    margin: 0;
}


 /* navigation setting */


.header-wrapper{
    margin-top: 5%;
    text-align: center;
}

.logo-box {
    display: flex;
    justify-content: center;
}

.text-box a { 
    text-decoration: none;
    color: black;
    font-family: 'Shadows Into Light';
}

.text-box h3 {
    margin-top: 2.2px;
}

#logo-img {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
}

