html,
body,
ul {
    scroll-behavior: smooth;
    margin: 0;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #212121;
}

/* Header Setting */
.sidebar {
    display: none;
    opacity: 0;
    transition: 0.4s;
}
.header {
    width: 100%;
    height: 80px;
    background-color: #212121;
    position: fixed;
}

.inner {
    position: relative;
    width: 100%;
    height: inherit;
    display: inline-block;
}

.inner div {
    display: inline-block;
    margin-top: 15px;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 20px 0 0 50px;
    border-radius: 20px;
    float: left;
}

.nav__btn ul {
    margin-top: 15px;
    margin-left: 30px;
}

.nav__btn ul li {
    list-style: none;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
}

.nav__btn a {
    color: #fefefe;
}

.nav__btn a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin-left: 19px;
    background: #fefefe;
    transition: width 0.3s;
}

.nav__btn a:hover::after {
    width: 85%;
    transition: width 0.3s;
}

.nav__btn ul a:last-child {
    margin-left: 20px;
}

.header__text {
    position: absolute;
    color: #fefefe;
    font-size: 30px;
    right: 30px;
    top: 18px;
}

#menu-icon {
    display: none;
}

/* Header Setting End*/

/*Body Setting */

.text__box {
    height: 100vh;
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: #fefefe;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #fefefe;
}

.text__effect {
    animation: typewriter 2s steps(30) 1s 1 normal both,
        blinkTextCursor 800ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 11.7em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.text__box i {
    color: #fefefe;
    font-size: 40px;
}

.info {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info img {
    width: 450px;
    height: 500px;
}

.info__text li {
    display: block;
    font-size: 30px;
    margin-top: 4%;
    font-family: "Caveat", cursive;
    letter-spacing: 1px;
}

/* project css */

.slide-container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    position: relative;
}

.slides > img {
    width: 100%;
    height: calc(100vh - 80px);
}

.fade {
    display: none;
}

.show {
    display: block;
    position: absolute;
    transition: 0.4s;
}

.prev,
.next {
    font-size: 40px;
    position: absolute;
    background-color: #212121;
    opacity: 0.8;
    color: #fefefe;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.prev:hover,
.next:hover {
    opacity: 1;
    transition: 0.5s;
    padding: 5px;
    font-size: 45px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fefefe;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.2s, visibility 0.2s;
}

.show:hover .description {
    visibility: visible;
    opacity: 0.9;
}

.des__title {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 30px;
    color: #212121;
}

.des__comment {
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 20px;
    line-height: 160%;
}
.description > a {
    position: absolute;
    left: 10%;
    top: 50%;
    font-size: 20px;
}
.description > a > i {
    font-size: 30px;
}
